# Ignore binary installers and SDKs
app/*.exe
*.msi
*.zip
*.tar.gz
*.7z

# Gradle build outputs
**/build/

# Android/Studio
.gradle/
.idea/
local.properties
*.iml

# OS junk
.DS_Store
Thumbs.db
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Firebase
/app/google-services.json
google-services.json

